uv.lock
.venv/
.vscode
src/*/__pycache__

reports/*
!reports/.gitkeep
models/
!models/.gitkeep
logs/*
!logs/.gitkeep


data/*
!data/bronze/
!data/silver/
!data/gold/

data/bronze/*
data/silver/*
data/gold/*

!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep